<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularProject1</title>
    <!-- <script src="person.js"></script> -->
    <script src="angular.js"></script>
    <script src="bootstrap.js"></script>
    <script src="dateCtrl.js"></script>
</head>

<body>
    <div ng-controller="dateCtrl">
        <p>{{time}}</p>
        <button ng-click="changeDate()">change date now!</button>
    </div>
<br>
    <div ng-controller="reversCtrl" >
        <textarea >{{name}}</textarea>
        <button ng-click="revers()">reveres now!</button>
    </div>

</body>

</html>